<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.library.bloodbank">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".UI.forgotpassword.changepsw"></activity>
        <activity android:name=".ui.homepage.adminhomepage" />
        <activity android:name=".ui.homepage.userhomepage" />
        <activity android:name=".UI.forgotpassword.forgetotp" />
        <activity android:name=".UI.forgotpassword.forgotone" />
        <activity android:name=".UI.Sign.Newadmin" />
        <activity android:name=".UI.Sign.Newuser" />
        <activity android:name=".UI.Login.Adminlogin" />
        <activity android:name=".UI.Login.Userlogin" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>